.gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.gallery-title {
  text-shadow: 2px 2px 4px rgb(191, 210, 142);
}
