.services-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  margin: auto;
}

.services-title {
  text-align: center;
  padding: 20px;
  text-shadow: 2px 2px 4px rgb(191, 210, 142);
}

.services-quote {
  text-align: center;
}

.service-title {
  text-shadow: 2px 2px 4px rgb(191, 210, 142);
}
