img {
  width: 200px;
}

nav {
  display: flex;
  align-items: center;
  background-color: rgb(191, 210, 142);
}

nav a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

nav .active {
  color: black;
  font-weight: bold;
}
